@charset "utf-8";

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  /* font-family: 'Kiwi Maru', serif; */
  font-family: 'Kosugi', sans-serif;
  /* font-family: 'M PLUS 1p', sans-serif;  font-size: 16px; */
  color: #000000;
  line-height: 1.5;
  background-color: #ffffff;
}

img {
  max-width: 100%;
}

.header-inner {
  max-width: 1200px;
  height: 175px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.toggle-menu-button {
  display: none;
}

.header-logo {
  display: block;
  width: 270px;
}

.site-menu ul {
  display: flex;
}

.site-menu ul li {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.site-menu ul li:hover {
  text-decoration: underline ;
  text-decoration-color: #f2cedd;

}

.footer {
  color: #fff;
  background-color: #665048;
  padding-top: 30px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.footer-logo {
  display: block;
  width: 235px;
  margin-top: 90px;
}

.footer-tel {
  font-size: 26px;
  font-weight: bold;
  margin-top: 28px;
}

.footer-time {
  font-size: 13px;
  margin-top: 16px;
}

.copyright {
  font-size: 14px;
  font-weight: bold;
  margin-top: 90px;
}

@media (max-width:800px) {
  .site-menu ul {
    display: block;
    text-align: center;
  }
  
  .site-menu ul li {
    margin-top: 20px;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    z-index: 10;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
  }

    .header-inner {
      padding-left: 20px;
      padding-right: 20px;
      /*↓あとで確認*/
      height: 100%;
  }
  
  .header-logo {
    /*↓あとで確認*/
    width: 110px;
    position: relative;
  }

  .header-logo {
    width: 90px;
  }

  .header-logo-img {
    width: 100%;
  }

  .header-site-menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    color: #665048;
    background-color: #96b23c;
    display: none;
  }

  .header-site-menu.is-show {
    display: block;
  }

  .toggle-menu-button {
    display: block;
    width: 44px;
    height: 34px;
    background-image: url(../images/common/icon-menu.png);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    border-radius: 0;
    outline: none;
  }

  .main {
    padding-top: 70px;
  }

  .footer-logo {
    margin-top: 30px;
  }

  .footer-tel {
    font-size: 20px;
  }

  .copyright {
    margin-top: 50px;
  }

}

/* javascript
=========================================== */

#loading {
  background-color:	#D3D3D3;
  position: fixed;
  z-index: 10;
  inset: 0;
  display: grid;
  place-items: center;
}

#loading-screen {
  background-color: #dfeaa6;
  position: fixed;
  inset: 0;
  z-index: 9;
  translate: 0 100vh;
}

#loading p {
  font-size: 2rem;
  font-family: 'Kosugi', sans-serif;
}